@import "./reset";
@import "./utils";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  line-height: $line-height;
  background: $app-background;
  color: $app-text-color;
  min-width: 320px;
  @include inDarkMode {
    color: $app-text-color-dark;
    background: $app-background-dark;
  }
}

.app {
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  border-top: 2px solid transparent;
  transition: .3s ease border;

  &_has-3-words {
    border-color: $app-border-top;

    @include inDarkMode {
      border-color: $app-border-top-dark;
    }
  }
}

 .scene {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scene__inner {
  width: 300%;
  height: 100%;
  display: flex;
}

a {
  @include link;

  text-decoration: none;
}

input,
textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid $input-border;
  box-shadow: none !important;
  font-family: inherit;
  border-radius: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;

  &:focus,
  &:active {
    outline: none;
    border-color: $input-border-active;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  @include inDarkMode {
    border-color: $input-border-dark;

    &:focus,
    &:active {
      outline: none;
      border-color: $input-border-active-dark;
    }

    &::placeholder {
      color: $placeholder-color-dark;
    }
  }
}
input {
  height: 41px;
}
