@import "./reset";

html, body {
  color: white;
  height: 100%;
  //font-family: 'Rubik', sans-serif;
  //font-family: 'Arimo', sans-serif;
  //font-family: 'Source Code Pro', monospace;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
