@import "./reset";
@import "./utils";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.3;
}

html, body {
  color: white;
  height: 100%;
  //font-family: 'Rubik', sans-serif;
  //font-family: 'Arimo', sans-serif;
  //font-family: 'Source Code Pro', monospace;
  font-family: $font-family;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-bottom: 10px;
  position: relative;
}

input,
textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid $border;
  box-shadow: none !important;
  font-family: inherit;
  border-radius: 0 !important;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: $border-active;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  transition: .3s ease all;
  max-height: 0;
  background: $green-background;
  //background: hsl(157, 38%, 42%);

  &_visible {
    max-height: 100px;
  }
}

.router-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  flex: 1 1 50%;
  white-space: nowrap;
  font-size: 1.2em;
  height: 60px;
  border-bottom: 3px solid transparent;
  &:hover {
    color: white;
  }
}

.router-link-exact-active {
  border-color: $accent;
  color: lighten($accent, 15%);
  cursor: default;
  &:hover {
    color: lighten($accent, 15%);
  }
}

a {
  color: $accent;
  text-decoration: none;
  &:hover {
    color: $accent-hover;
  }
}
