@import '../../assets/style/utils';

.button {
  height: 40px;
  border-radius: $border-radius;
  padding: 0 20px;
  background: none;
  cursor: pointer;
  border: 2px solid $green-light;
  background: $green-light;
  color: $green-background;
  font-family: $font-family;
  font-size: 1.5rem;
  margin: 5px;

  &:hover {
    background: $green-not-so-light;
    border-color: $green-not-so-light;
  }
}

.button_accent {
  border-color: $palette-accent-300;
  background: $palette-accent-300;
  color: white;

  &:hover {
    border-color: $palette-accent-600;
    background: $palette-accent-600;
  }
}

.button_link {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $green-hover;
  }
  &.button_accent {
    color: $palette-accent-400;
    &:hover {
      color: $palette-accent-500;
    }
  }
}
