@import '../../assets/style/utils';

$green-hover: lighten($green-background, 15%);
$green-light: lighten($green-background, 70%);
$green-not-so-light: lighten($green-background, 65%);
$accent-light: lighten($accent, 10%);

.button {
  height: 40px;
  border-radius: $border-radius;
  padding: 0 20px;
  background: none;
  cursor: pointer;
  border: 2px solid $green-light;
  background: $green-light;
  color: $green-background;
  font-family: $font-family;
  font-size: 1.5rem;
  margin: 5px;

  &:hover {
    background: $green-not-so-light;
    border-color: $green-not-so-light;
  }
}
.button_accent {
  border-color: $accent-light;
  background: $accent-light;
  color: white;
  &:hover {
    border-color: $accent;
    background: $accent;
  }
}

.button_link {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $green-hover;
  }
  &.button_accent {
    color: $accent-light;
    &:hover {
      color: $accent;
    }
  }
}
