@import '../../assets/style/utils';

$button-size: 2rem;
$inner-container: 40rem;

.list {
  @include page;

  display: block;
  line-height: 1.2;
}

.list__inner {
  @include page-inner;

  max-width: $inner-container;
  justify-content: flex-start;
  margin: 0 auto;
}

.list__items-wrapper {
  width: 100%;
}

.list-item {
  padding: .5rem 0;
  padding-right: 3rem;
  text-align: left;
  position: relative;
  border-bottom: .1rem solid $list-item-border;
  display: flex;

  & + & {
    margin-top: 1rem;
  }

  @include inDarkMode {
    border-color: $list-item-border-dark;
  }
}

.list-heading {
  color: $list-heading;
  border-bottom: none;
  user-select: none;

  @include inDarkMode {
    color: $list-heading-dark;
  }
}

.list-heading_sorted {
  background: $list-heading-sorted-bg;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.7rem;
    width: .7rem;
    background: $list-heading-sorted-bg;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -.3rem;
    width: .3rem;
    background: $list-heading-sorted-bg;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  @include inDarkMode {
    background: $list-heading-sorted-bg-dark;
    color: inherit;
    &::before,
    &::after {
      background: $list-heading-sorted-bg-dark;
    }
  }
}

.list-heading__item {
  @include button-reset;

  color: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    width: 90%;
  }
}

.list-heading__item_active {
  color: $list-heading-active;

  @include inDarkMode {
    color: $list-heading-active-dark;
  }
}

.list-heading__reset-button.list-heading__reset-button {
  top: .4rem;
  color: currentColor;
}

.word {
  width: 50%;
  word-break: break-word;
  padding-right: 1em;
}

.translation {
  width: 50%;
}

.delete-button {
  @include cross-icon;

  user-select: none;
  position: absolute;
  right: 0;
  top: .5rem;
  bottom: .5rem;
  padding: 0;
  min-height: $button-size;
  width: $button-size;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  line-height: 1;
}

.notice {
  color: $notice-text-color;
  margin: 3.5rem auto 1.5rem;
  white-space: pre;

  @include inDarkMode {
    color: $notice-text-color-dark;
  }
}

.order-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: inherit;
  margin-left: .5rem;
}

$bar-short: .5rem;
$bar-medium: $bar-short + .2rem;
$bar-long: $bar-medium + .2rem;

.order-icon__bar {
  display: block;
  height: .1rem;
  width: $bar-medium;
  background: currentColor;
  transition: .2s ease-in-out width;
  margin-top: .2rem;
}

.order-icon__bar_first {
  width: $bar-long;

  .order-icon_asc & {
    width: $bar-short;
  }
}

.order-icon__bar_last {
  width: $bar-short;

  .order-icon_asc & {
    width: $bar-long;
  }
}


.order-icon_hidden {
  .order-icon__bar {
    width: 0;
  }
}
