@mixin stretch($pos: absolute) {
  position: $pos;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@mixin page-inner {
  width: 100vW;
  padding: 50px 25px 50px;
}
