@mixin stretch($pos: absolute) {
  position: $pos;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin button-reset {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

@mixin page-inner {
  flex: 1 0 33.3333%;
  padding: 50px 25px 50px;
  margin-bottom: $nav-height;
  height: calc(100% - #{$nav-height});
  overflow: auto;
}

@mixin link {
  color: $accent;

  &:hover {
    color: $accent-hover;
  }
}

@mixin cross-icon($cross-width: 8px, $size: 20px) {
  @include button-reset;
  color: $green-background;
  width: $size;
  height: $size;
  position: relative;

  &:focus {
    color: $green-background;
  }

  &:hover,
  &:active {
    color: coral;
  }


  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - #{$cross-width / 2});
    width: $cross-width;
    height: 1px;
    background: currentColor;
  }

  &::after {
    transform: rotateZ(45deg);
  }
  &::before {
    transform: rotateZ(-45deg);
  }
}
