$win-tile-background: hsl(170, 50%, 45%);
$base-green: #2a7e70;

$font-family: 'Fira Sans Condensed', sans-serif;

// It should be here to give base colors for palettes
$app-background: white;
$app-background-dark: #222222;

// Measures
$border-radius: 2px;
$nav-height: 60px;
$input-height: 41px;


// Palettes
$green-100: hsl(170, 25%, 95%);
$green-150: hsl(170, 25%, 90%);
$green-200: hsl(170, 25%, 85%);
$green-250: hsl(170, 25%, 80%); // border
$green-300: hsl(170, 25%, 75%);
$green-400: hsl(170, 25%, 65%);
$green-450: hsl(170, 25%, 60%);
$green-500: hsl(170, 25%, 55%);
$green-550: hsl(170, 25%, 55%); // border-active
$green-600: hsl(170, 25%, 45%);
$green-650: hsl(170, 25%, 40%); // button text on hover
$green-700: hsl(170, 25%, 35%);
$green-750: hsl(170, 25%, 30%);
$green-800: hsl(170, 25%, 25%); // background, button text
$green-850: hsl(170, 25%, 20%);
$green-900: hsl(170, 25%, 15%);
$green-950: hsl(170, 25%, 10%);
$green-1000: hsl(170, 25%, 5%);

$green-dark-100: mix($base-green, $app-background-dark, 10%);
$green-dark-150: mix($base-green, $app-background-dark, 15%);
$green-dark-200: mix($base-green, $app-background-dark, 20%);
$green-dark-300: mix($base-green, $app-background-dark, 30%);
$green-dark-400: mix($base-green, $app-background-dark, 40%);
$green-dark-500: mix($base-green, $app-background-dark, 50%);
$green-dark-600: mix($base-green, $app-background-dark, 60%);
$green-dark-700: mix($base-green, $app-background-dark, 70%);
$green-dark-800: mix($base-green, $app-background-dark, 80%);
$green-dark-900: mix($base-green, $app-background-dark, 90%);
$green-dark-1000: $base-green;


$coral-palette:
rgb(255, 240, 234)
rgb(255, 217, 203)
rgb(255, 191, 168)
rgb(255, 165, 133)
rgb(255, 146, 106)
rgb(255, 127, 80)
rgb(255, 119, 73)
rgb(255, 108, 64)
rgb(255, 98, 55)
rgb(255, 79, 39)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(255, 219, 212)
rgb(255, 198, 187)
;

$coral-50: nth($coral-palette, 1);
$coral-100: nth($coral-palette, 2);
$coral-200: nth($coral-palette, 3);
$coral-300: nth($coral-palette, 4);
$coral-400: nth($coral-palette, 5);
$coral-500: nth($coral-palette, 6);
$coral-450: mix($coral-400, $coral-500);
$coral-600: nth($coral-palette, 7);
$coral-700: nth($coral-palette, 8);
$coral-800: nth($coral-palette, 9);
$coral-900: nth($coral-palette, 10);
$coral-A100: nth($coral-palette, 11);
$coral-A200: nth($coral-palette, 12);
$coral-A400: nth($coral-palette, 13);
$coral-A700: nth($coral-palette, 14);

$coral: $coral-400;
$coral-dark-100: mix($coral, $app-background-dark, 10%);
$coral-dark-200: mix($coral, $app-background-dark, 20%);
$coral-dark-300: mix($coral, $app-background-dark, 30%);
$coral-dark-400: mix($coral, $app-background-dark, 40%);
$coral-dark-500: mix($coral, $app-background-dark, 50%);
$coral-dark-600: mix($coral, $app-background-dark, 60%);
$coral-dark-700: mix($coral, $app-background-dark, 70%);
$coral-dark-800: mix($coral, $app-background-dark, 80%);
$coral-dark-900: mix($coral, $app-background-dark, 90%);
$coral-dark-1000: mix($coral, $app-background-dark, 100%);

$coral-default: $coral-500;
$coral-default-active: $coral-400;

$coral-default-dark: $coral-dark-800;
$coral-default-dark-active: $coral-dark-900;

// Global
$color-border: $green-250;
$color-border-active: $green-550;

$color-border-dark: $green-dark-300;
$color-border-dark-active: $green-dark-600;

$notice-text-color: rgba(black, .5);
$notice-text-color-dark: inherit;


// App
$app-text-color: $green-900;
$app-border-top: $coral-default;

$app-text-color-dark: mix(#d9d9d9, $base-green, 90%);
$app-border-top-dark: $coral-default-dark;

// Button
$button-background: $green-100;
$button-background-active: $green-150;
$button-color: $green-800;

$button-background-dark: $green-dark-100;
$button-background-dark-active: $green-dark-150;
$button-color-dark: inherit;

// Button accent
$button-accent-border: $coral-300;
$button-accent-color: $coral-600;
$button-accent-border-active: $coral-900;
$button-accent-color-active: $coral-900;

$button-accent-border-dark: $coral-default-dark;
$button-accent-color-dark: $coral-default-dark;
$button-accent-border-active-dark: $coral-default-dark-active;
$button-accent-color-active-dark: $coral-default-dark-active;

// Input
$input-border: $color-border;
$input-border-active: $color-border-active;

$input-border-dark: $color-border-dark;
$input-border-active-dark: $color-border-dark-active;

// Nav
$nav-background: $green-100;
$nav-border-top: $green-150;
$nav-item-color: $green-800;
$nav-active-color: $coral-default;

$nav-background-dark: $green-dark-100;
$nav-border-top-dark: $green-dark-150;
$nav-item-color-dark: inherit;
$nav-active-color-dark: $coral-default-dark;

// List
$list-heading: $green-500;
$list-heading-sorted-bg: $green-100;
$list-heading-active: $coral-800;

$list-heading-dark: $green-600;
$list-heading-sorted-bg-dark: $green-dark-100;
$list-heading-active-dark: $coral-default-dark;

// Drill
$drill-answer-color: $green-600;
$drill-correct-answer-highlight: lighten(darkseagreen, 20%);

$drill-answer-color-dark: $green-600;
$drill-correct-answer-highlight-dark: mix(#1dbc52, $app-background-dark, 12%);
