@import "variables_dark";
@import "variables_light";

$font-family: 'Fira Sans Condensed', sans-serif;

// Measures
$border-radius: .2rem;
$nav-height: 6.4rem;
$rounded-screen-nav-offset: 3rem;
$input-height: 4.1rem;
$line-height: 1.3;