$win-tile-background: hsl(170, 50%, 45%);
$dark-base-green: lighten(#2a7e70, 15%);

// It should be here to give base colors for palettes
$app-background: white;
$app-background-dark: #222222;

// Palettes
$green-100: hsl(170, 25%, 95%);
$green-150: hsl(170, 25%, 90%);
$green-200: hsl(170, 25%, 85%);
$green-250: hsl(170, 25%, 80%); // border
$green-300: hsl(170, 25%, 75%);
$green-400: hsl(170, 25%, 65%);
$green-450: hsl(170, 25%, 60%);
$green-500: hsl(170, 25%, 55%);
$green-550: hsl(170, 25%, 55%); // border-active
$green-600: hsl(170, 25%, 45%);
$green-650: hsl(170, 25%, 40%); // button text on hover
$green-700: hsl(170, 25%, 35%);
$green-750: hsl(170, 25%, 30%);
$green-800: hsl(170, 25%, 25%); // background, button text
$green-850: hsl(170, 25%, 20%);
$green-900: hsl(170, 25%, 15%);
$green-950: hsl(170, 25%, 10%);
$green-1000: hsl(170, 25%, 5%);

$green-dark-50: mix($dark-base-green, $app-background-dark, 5%);
$green-dark-100: mix($dark-base-green, $app-background-dark, 10%);
$green-dark-150: mix($dark-base-green, $app-background-dark, 15%);
$green-dark-200: mix($dark-base-green, $app-background-dark, 20%);
$green-dark-300: mix($dark-base-green, $app-background-dark, 30%);
$green-dark-400: mix($dark-base-green, $app-background-dark, 40%);
$green-dark-500: mix($dark-base-green, $app-background-dark, 50%);
$green-dark-600: mix($dark-base-green, $app-background-dark, 60%);
$green-dark-700: mix($dark-base-green, $app-background-dark, 70%);
$green-dark-800: mix($dark-base-green, $app-background-dark, 80%);
$green-dark-900: mix($dark-base-green, $app-background-dark, 90%);
$green-dark-950: mix($dark-base-green, $app-background-dark, 95%);

$coral-palette:
        rgb(255, 240, 234)
        rgb(255, 217, 203)
        rgb(255, 191, 168)
        rgb(255, 165, 133)
        rgb(255, 146, 106)
        rgb(255, 127, 80)
        rgb(255, 119, 73)
        rgb(255, 108, 64)
        rgb(255, 98, 55)
        rgb(255, 79, 39)
        rgb(255, 255, 255)
        rgb(255, 255, 255)
        rgb(255, 219, 212)
        rgb(255, 198, 187)
;

$coral-50: nth($coral-palette, 1);
$coral-100: nth($coral-palette, 2);
$coral-200: nth($coral-palette, 3);
$coral-300: nth($coral-palette, 4);
$coral-400: nth($coral-palette, 5);
$coral-500: nth($coral-palette, 6);
$coral-450: mix($coral-400, $coral-500);
$coral-600: nth($coral-palette, 7);
$coral-700: nth($coral-palette, 8);
$coral-800: nth($coral-palette, 9);
$coral-900: nth($coral-palette, 10);
$coral-A100: nth($coral-palette, 11);
$coral-A200: nth($coral-palette, 12);
$coral-A400: nth($coral-palette, 13);
$coral-A700: nth($coral-palette, 14);

$coral: coral;
$coral-dark-50: mix($coral, $app-background-dark, 5%);
$coral-dark-100: mix($coral, $app-background-dark, 10%);
$coral-dark-150: mix($coral, $app-background-dark, 15%);
$coral-dark-175: mix($coral, $app-background-dark, 17.5%);
$coral-dark-200: mix($coral, $app-background-dark, 20%);
$coral-dark-300: mix($coral, $app-background-dark, 30%);
$coral-dark-400: mix($coral, $app-background-dark, 40%);
$coral-dark-500: mix($coral, $app-background-dark, 50%);
$coral-dark-600: mix($coral, $app-background-dark, 60%);
$coral-dark-700: mix($coral, $app-background-dark, 70%);
$coral-dark-800: mix($coral, $app-background-dark, 80%);
$coral-dark-900: mix($coral, $app-background-dark, 90%);
$coral-dark-1000: mix($coral, $app-background-dark, 100%);

$coral-light-100: mix($coral, white, 10%);
$coral-light-150: mix($coral, white, 15%);
$coral-light-200: mix($coral, white, 20%);
$coral-light-300: mix($coral, white, 30%);
$coral-light-400: mix($coral, white, 40%);
$coral-light-500: mix($coral, white, 50%);
$coral-light-600: mix($coral, white, 60%);
$coral-light-700: mix($coral, white, 70%);
$coral-light-800: mix($coral, white, 80%);
$coral-light-900: mix($coral, white, 90%);
$coral-light-1000: mix($coral, white, 100%);

$coral-default: $coral-500;
$coral-default-active: $coral-400;

$coral-default-dark: $coral-light-900;
$coral-default-dark-active: $coral-dark-900;
