@import "variables_dark";
@import "variables_light";

$font-family: 'Fira Sans Condensed', sans-serif;

// Measures
$border-radius: 2px;
$nav-height: 64px;
$rounded-screen-nav-offset: 30px;
$input-height: 41px;
$line-height: 1.3;