@import '../../assets/style/utils';

.button {
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  border-radius: $border-radius;
  padding: 0 20px;
  background: none;
  cursor: pointer;
  font-family: $font-family;
  font-size: 1.5rem;
  color: $green-800;
  border: 1px solid $green-100;
  background: $green-100;
  user-select: none;
  outline: none !important;

  &:active {
    background: $green-150;
    border-color: $green-150;
  }

  @include inDarkMode {
    color: inherit;
    background: $green-650;
    border-color: $green-650;

    &:active {
      background: $green-600;
      border-color: $green-600;
    }
  }
}

.button_accent {
  border-color: $palette-accent-300;
  background: transparent;
  color: $palette-accent-600;

  &:active {
    border-color: $palette-accent-900;
    background: transparent;
    color: $palette-accent-900;
  }

  @include inDarkMode {
    border-color: $palette-accent-default-dark;
    color: $palette-accent-default-dark;

    &:active {
      border-color: $palette-accent-default-dark-active;
      color: $palette-accent-default-dark-active;
    }
  }
}

.button_link {
  background-color: transparent;
  border-color: transparent;
  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $green-650;
  }
  &.button_accent {
    color: $palette-accent-400;
    &:active {
      color: $palette-accent-500;
    }
  }
}
