@import '../../assets/style/utils';

.list {
  @include page-inner;
}

.list__inner {
  max-width: 400px;
  margin: 0 auto;
}

.list-item {
  padding: 5px 0;
  padding-right: 30px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid $border;
  display: flex;

  & + & {
    margin-top: 10px;
  }
}

.word {
  width: 50%;
}

.translation {
  width: 50%;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 10px;
}

.notice {
  font-size: .9em;
  color: rgba(black, .5);
  width: 80%;
  margin: 3.5rem auto 0;

  u {
    font-style: italic;
    white-space: nowrap;
  }
}
