@import '../../assets/style/utils';

$button-size: 20px;

.list {
  @include page-inner;
  line-height: 1.2;
}

.list__inner {
  max-width: 400px;
  margin: 0 auto;
}

.list-item {
  padding: 5px 0;
  padding-right: 30px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid $border;
  display: flex;

  & + & {
    margin-top: 10px;
  }
}

.word {
  width: 50%;
  word-break: break-all;
  padding-right: .5em;
}

.translation {
  width: 50%;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  padding: 0;
  min-height: $button-size;
  width: $button-size;
  background: none;
  color: $green-background;
  border: none;
  line-height: 1;
  font-size: $button-size / 1.5;
  padding-bottom: 1px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: coral;
  }
}
