@import '../../assets/style/utils';

$word-margin-bottom-small: 15px;
$word-margin-bottom: 25px;

.drill {
  @include page;

  position: relative;
}

.drill__inner {
  @include page-inner;
}

.word {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: $word-margin-bottom-small;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_medium {
    font-size: 2.5em;
  }

  &_small {
    font-size: 2em;
  }

  @include mediaSmallHeight {
    margin-bottom: $word-margin-bottom;
  }
}

.switcher {
  @include button-reset;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: inherit;

  span:first-child {
    color: $coral-default;

    @include inDarkMode {
      color: $coral-default-dark;
    }
  }
}

.switcher_reversed {
  flex-direction: row-reverse;

  span:first-child {
    color: inherit;
    @include inDarkMode {
      color: inherit;
    }
  }

  span:last-child {
    color: $coral-default;

    @include inDarkMode {
      color: $coral-default-dark;
    }
  }
}

.button {
  width: 140px;
  margin: 0 7px;
}

.button_delete {
  order: -1;
}

.input {
  margin-bottom: $word-margin-bottom-small;
  box-shadow: 0 0 0 $drill-correct-answer-highlight !important;
  transition: .2s ease;
  transition-property: background-color, box-shadow;

  @include mediaSmallHeight {
    margin-bottom: $word-margin-bottom;
  }

  &.right-answer {
    background-color: $drill-correct-answer-highlight;
    box-shadow: 0 0 25px $drill-correct-answer-highlight !important;
  }

  &.hidden {
    opacity: .01;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.input {
  @include inDarkMode {
    box-shadow: 0 0 0 $drill-correct-answer-highlight-dark !important;
    &.right-answer {
      background-color: $drill-correct-answer-highlight-dark;
      box-shadow: 0 0 25px $drill-correct-answer-highlight-dark !important;
    }
  }
}

.answer {
  height: $input-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $word-margin-bottom-small;
  font-size: 1.7em;
  color: $drill-answer-color;

  @include inDarkMode {
    color: $drill-answer-color-dark;
  }

  @include mediaSmallHeight {
    margin-bottom: $word-margin-bottom;
  }
}

.button-set {
  display: flex;
}

.arrowIcon {
  width: 13px;
  height: 1px;
  margin: 0 5px;
  background: currentColor;
  position: relative;
  display: block;
  border-radius: 1px;

  &::after,
  &::before {
    border-radius: 1px;
    content: '';
    position: absolute;
    left: calc(100% - 2px);
    height: 1px;
    width: 5px;
    background: currentColor;
    transform: rotateZ(35deg) translateX(-2px);
  }

  &::after {
    transform: rotateZ(-35deg) translateX(-2px);
  }
}
