@import '../../assets/style/utils';

$bottom-offset: 7.5px;
$bottom-arrow-size: 15px;
$icon-add-size: 24px;
$bg-dark: rgb(60, 62, 60);

.installPrompt {
  position: fixed;
  z-index: z(ontop);
  bottom: $bottom-offset + $bottom-arrow-size;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  padding: 8px 8px 8px 10px;
  border-radius: 2px;
  text-align: left;
  box-shadow: 0 1px 5px $green-150;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  max-width: 30rem;

  .app_has-3-words & {
    bottom: $nav-height + $bottom-offset;
  }

  .rounded-screen & {
    bottom: $nav-height + $rounded-screen-nav-offset + $bottom-offset;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    margin-left: -16px;
    border: 16px solid transparent;
    border-top-color: white;
  }

  &::before {
    top: 100%;
    border-top-color: $green-150;
  }
}


.installPrompt {
  @include inDarkMode {
    background: $bg-dark;
    box-shadow: none;

    &::after {
      border-top-color: $bg-dark;
    }

    &::before {
      border-top-color: transparent;
    }
  }
}

.icon-add {
  position: relative;
  background: none;
  border-radius: 6px;
  margin-top: 1px;
  background: $green-400;
  width: $icon-add-size;
  height: $icon-add-size;
  flex: 0 0 $icon-add-size;
  margin-right: 10px;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    @include stretch();
    width: 14px;
    height: 2px;
    background: #fff;
    z-index: 1;
    border-radius: 2px;
  }

  &::after {
    transform: rotateZ(90deg);
  }
}

.icon-add {
  @include inDarkMode {
    background: $green-600;
    &::before,
    &::after {
      background: $bg-dark;
    }
  }
}

.text {
  flex: 0 0 auto;
  white-space: pre;
}

.dismiss {
  @include cross-icon(10px);
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  justify-self: flex-end;
  flex: 0 0 17px;
}

.icon-share {
  margin: 3px 2px 0;
  fill: #4393fe;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -4px;
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
  transition-property: transform, opacity;
  transform: translate(-50%,  0);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -10px);
}
