@import '../../assets/style/utils';

@keyframes field-has-error {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.container {
  @include page-inner;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification {
  font-style: italic;
  margin-bottom: 40px;
}

label {
  margin-bottom: 20px;
}

.field {
  display: block;
}

.field__name {
  display: block;
}

.field_error {
  animation: field-has-error .5s ease 2;
}
