@import '../../assets/style/utils';

@keyframes field-has-error {
  25% {
    transform: translateX(2.5%);
  }
  75% {
    transform: translateX(-2.5%);
  }
}

.container {
  @include page-inner;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification {
  font-style: italic;
  margin-bottom: 40px;
}

label {
  margin-bottom: 20px;
  display: block;
}

.fieldset {
  margin-bottom: 8px;
}

.field {
  display: block;
}

.field__label {
  display: block;
  padding-bottom: 3px;
}

.field_error {
  animation: field-has-error .25s ease 2;
}
