@import '../../assets/style/utils';

@keyframes glow {
  0% {
    transform: translateX(30px);
    stroke: $coral-400;
  }

  100% {
    transform: translateX(-30px);
    stroke: $coral-400;
    stroke:#2a7e70;
    opacity: .5;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }


  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes green {
  100% {
    transform: translateX(-30px);
  }
}

@keyframes orange {
  100% {
    transform: translateX(30px);
  }
}

@keyframes appears {
  0% {
    height: 0;
  }

  100% {
    height: 6rem;
  }
}

.updateChecker {
  animation: appears 1 .2s ease-out forwards;
  color: $notice-text-color;
  border-radius: $border-radius;
  z-index: z(ontop);
  overflow: hidden;
  background: $nav-background;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  height: 0;

  @include inDarkMode {
    color: $notice-text-color-dark;
    background: $nav-background-dark;
  }
}

.button {
  @include button-reset;
  @include link;
}

.overlay {
  @include stretch(fixed);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($app-background, .5);

  @include inDarkMode {
    background: rgba($app-background-dark, .5);
  }
}

.iconContainer {
  width: 32rem;
  height: 15rem;
  position: relative;
}

.moviet {
  display: none;
  @include stretch;

  animation: rotate .5s ease-out infinite;
  border-radius: 100%;
  border: 4px solid $coral-400;
  border-color: $green-100 $green-100 $green-100 $coral-400;

  mask-size: auto 100%;
  mask-position: center;
}

.icon {
  width: 100%;
}

.st0{fill: transparent;}
.st1{
  fill:none;
  stroke: $coral-default-dark;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10
}
.st1 {
  fill:none;
  stroke:#2a7e70;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  opacity: .5;
  animation: green 1s ease;
  transform-origin: center;
  animation-fill-mode: forwards;
}
.st2 {
  fill:none;
  stroke:#FF8349;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  transform: translateX(1px);
  animation-fill-mode: forwards;

  animation: orange 1s ease;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transform-origin: center;
}

.st {
  fill: rgba(white, .1);
  stroke: #FF8349;
  animation: glow 2s ease infinite;
}
@for $i from 0 through 10 {
  .st_#{$i} {
    animation-delay: .15s * $i;
  }
}