@import '../../assets/style/utils';

$button-size: 2rem;

.list-item {
  padding: .5rem 0;
  padding-right: 3rem;
  text-align: left;
  position: relative;
  border-bottom: .1rem solid $list-item-border;
  display: flex;

  & + & {
    margin-top: 1rem;
  }

  @include inDarkMode {
    border-color: $list-item-border-dark;
  }
}


.word {
  width: 50%;
  word-break: break-word;
  padding-right: 1em;
}

.translation {
  width: 50%;
}

.delete-button {
  @include cross-icon;

  user-select: none;
  position: absolute;
  right: 0;
  top: .5rem;
  bottom: .5rem;
  padding: 0;
  min-height: $button-size;
  width: $button-size;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  line-height: 1;
}