@import '../../assets/style/utils';

@keyframes right-answer {
  0% {
    background: transparent;
  }
  100% {
    background: lighten(darkseagreen, 20%);
  }
}

.container {
  position: relative;
  padding-top: 50px;
}

.word {
  font-size: 3em;
  margin-bottom: 30px;
}

.button {
  margin: 10px;
}

input {

}

.right-answer {
  animation: right-answer .2s ease-in 1 forwards;
}

.switcher {
  @include button-reset;
  position: absolute;
  top: 15px;
  right: 0;

  b {
    color: $accent;
  }
}
