@import '../../assets/style/utils';

@keyframes right-answer {
  0% {
    background: transparent;
  }
  100% {
    background: lighten(darkseagreen, 20%);
  }
}

.container {
  @include page-inner;

  position: relative;
}

.word {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 30px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_medium {
    font-size: 2.5em;
  }

  &_small {
    font-size: 2em;
  }
}

.button {
  margin: 5px;
}

.answer {
  font-size: 1.1em;
}

.right-answer {
  animation: right-answer .2s ease-in 1 forwards;
}

.switcher {
  @include button-reset;
  position: absolute;
  top: 15px;
  right: 0;

  b {
    color: $accent;
  }
}
