@import '../../assets/style/utils';

@keyframes field-has-error {
  25% {
    transform: translateX(2.5%);
  }
  75% {
    transform: translateX(-2.5%);
  }
}

.add {
  @include page;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.add__inner {
  @include page-inner;
}

.notification {
  font-style: italic;
  margin-bottom: 40px;
}

label {
  margin-bottom: 20px;
  display: block;
}

.fieldset {
  margin-bottom: 8px;
}

.field {
  display: block;
}

.field__label {
  display: block;
  padding-bottom: 3px;
}

.field_error {
  animation: field-has-error .2s ease-out 3;
}
