@import '../../assets/style/utils';

@keyframes field-has-error {
  25% {
    transform: translateX(2.5%);
  }
  75% {
    transform: translateX(-2.5%);
  }
}

.add {
  @include page;
}

.add__inner {
  @include page-inner;
}

.notification {
  margin-bottom: 4rem;
}

label {
  margin-bottom: 2rem;
  display: block;

  &:last-child {
    margin-bottom: 1rem;
  }
}

.field {
   display: block;
 }

.fieldset {
  margin-bottom: .8rem;

  @include mediaSmallHeight {
    margin-bottom: 2rem;
  }
}

.field__label {
  display: block;
  padding-bottom: .3rem;
}

.field_error {
  animation: field-has-error .2s ease-out 3;
}
