@import '../../assets/style/utils';

.link {
  padding: 0 6px;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $link-background;
  color: $link-color;

  @include inDarkMode {
    background: $link-background-dark;
    color: $link-color-dark;
  }
}
