@import '../../assets/style/utils';

.nav {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  background: $nav-background;
  border-top: .1rem solid $nav-border-top;
  transition: .3s ease;
  transition-property: max-height, visibility;

  &_visible {
    max-height: $nav-height;
    visibility: visible;
  }

  @include inDarkMode {
    background: $nav-background-dark;
    border-color: $nav-border-top-dark;
  }
}

.rounded-screen .nav {
  padding-bottom: $rounded-screen-nav-offset;
  max-height: $nav-height +  $rounded-screen-nav-offset;
}

.nav__container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.nav__item {
  font-family: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1 1 50%;
  white-space: nowrap;
  height: $nav-height;
  border: none;
  outline: none;
  cursor: pointer;
  color: $nav-item-color;
  fill: currentColor;

  &_active {
    cursor: default;
    color: $nav-active-color;
  }

  @include inDarkMode {
    color: $nav-item-color-dark;

    &_active {
      color: $nav-active-color-dark;
    }
  }
}

.nav__item-icon-container {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .3rem 0 .6rem;
}

.nav__item-icon {
  position: relative;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
}

.nav__item-icon_add {
  &::before,
  &::after {
    @include stretch;

    content: '';
    width: 100%;
    height: .2rem;
    background: currentcolor;
    border-radius: .2rem;
  }

  &::after {
    transform: rotateZ(90deg);
  }
}

.nav__item-icon_drill {
  &::before {
    @include stretch;

    content: '';
    left: 0;
    right: 0;
    margin: auto;
    width: 1.2rem;
    height:1.2rem;
    border: .2rem solid;
    border-color: currentcolor;
    border-radius: .2rem;
    transform: rotateZ(45deg);
  }
}

.nav__item-icon_list {
  &::before,
  &::after {
    @include stretch;

    content: '';
    left: auto;
    right: 0;
    width: calc(100% - .5rem);
    height: .2rem;
    background: currentcolor;
    border-radius: .2rem;
    box-shadow: 0 .7rem 0 currentColor, 0 -.7rem 0 currentColor;
  }

  &::after {
    width: .3rem;
    left: 0;
    right: auto;
  }
}

.nav__item-icon_settings {
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: .3rem;
    margin: auto;
    width: .2rem;
    height: 100%;
    box-shadow: 1rem 0 0 currentColor;
    background: currentcolor;
    border-radius: 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: .5rem;
    left: 0;
    margin: auto;
    width: .8rem;
    height: .2rem;
    box-shadow: 1rem .6rem 0 currentColor;
  }
}

.nav__item-label {
  font-size: 1.4rem;
}

.pointing-dot {
  position: absolute;
  right: -.4rem;
  top: -.4rem;
}