@import '../../assets/style/utils';

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  background: $green-100;
  border-top: 1px solid $green-150;
  transition: .3s ease all;

  &_visible {
    max-height: $nav-height;
    visibility: visible;
  }

  @include inDarkMode {
    background: $green-850;
    border-color: transparent;
  }
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.nav__item {
  font-family: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1 1 50%;
  white-space: nowrap;
  font-size: 1.2em;
  height: $nav-height;
  border: none;
  outline: none;
  cursor: pointer;
  color: $green-800;
  fill: currentColor;

  &_active {
    cursor: default;
    color: $palette-accent-default;
  }

  @include inDarkMode {
    color: $green-400;

    &_active {
      color: $palette-accent-400;
    }
  }
}

.nav__item-icon-container {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item-icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
}

.nav__item-icon_add {
  &::before,
  &::after {
    @include stretch;

    content: '';
    width: 100%;
    height: 2px;
    background: currentcolor;
    border-radius: 2px;
  }

  &::after {
    transform: rotateZ(90deg);
  }
}

.nav__item-icon_list {
  &::before,
  &::after {
    @include stretch;

    content: '';
    left: auto;
    right: 0;
    width: calc(100% - 5px);
    height: 2px;
    background: currentcolor;
    border-radius: 2px;
    box-shadow: 0 6px 0 currentColor, 0 -6px 0 currentColor;
  }

  &::after {
    width: 3px;
    left: 0;
    right: auto;
  }
}

.nav__item-icon_drill {
  &::before {
    @include stretch;

    content: '';
    left: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height:12px;
    border: 2px solid;
    border-color: currentcolor;
    border-radius: 2px;
    transform: rotateZ(45deg);
  }
}
