@import '../../assets/style/utils';

$button-size: 20px;
$inner-container: 400px;

.settings {
  @include page;

  display: block;
  line-height: 1.2;
}

.settings__inner {
  @include page-inner;

  max-width: $inner-container;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 45px;
}
